<%- include("./partials/header")%>
    <%for(let blog of blogs){%>
        <article>
            <h2>
                <%=blog.title%>
            </h2>
            <img src="<%= blog.img %>" />
            <p>
                <%=blog.body%>
            </p>
        </article>
        <%}%>

            <%- include("./partials/footer")%>